@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

:root{
    --color-body: #b6cbce;
    --color-heading: #eef3db;
    --color-base2:#262829;
    --color-base: #000000;
    --color-brand: #f15d22;
    --color-brand2: #f34b09;
    --sidbar-width: 240px;
    --font-base: "Roboto";
}

body{
    background-color: var(--color-base2);
    color: var(--color-body);
    font-family: var(--font-base), sans-serif;
}

h1,h2,h3,h4,h5,h6{
    color: var(--color-heading);
    font-weight: 700;
}

a{
    text-decoration: none;
    color: var(--color-body);
    transition: all 0.4s ease;
}
a:hover{
    color: var(--color-brand);
}

.person{
    width: 70%;
    position: center;
}


.text-brand{
    color: var(--color-brand);
}

.bg-base{
    background-color: var(--color-base);
    padding: 4px;
}
.full-height{
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 80px;
    padding-bottom: 80px;
    border-bottom: 2px solid rgb(255, 255, 255, 0.1);
}

.shadow-effect{
    transition: all 0.5s;
}

.shadow-effect:hover{
    box-shadow: -6px 6px 0 0 var(--color-brand);
}

.iconbox{
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    display: flex;
    background-color: var(--color-brand);
    color: var(--color-base);
}

/* NAVBAR */

.navbar{
    background-color: var(--color-base);
}

.navbar .nav-link{
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

.navbar .nav-link:hover{
    color: var(--color-brand);
}

.btn{
    padding: 12px 28px;
    font-weight: 700;
}

.btn-brand{
    background-color: var(--color-brand);
    border-color: var(--color-brand);
    color: var(--color-base);
}
.btn-brand:hover, .btn-brand:focus{
    background-color: var(--color-brand2);
    border-color: var(--color-brand2);
    
}

.link-custom{
    font-weight: 700;
    position: relative;
}

.link-custom::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--color-brand);
    position: absolute;
    left: 0;
    top: 110%;
    transition: all 0.4s;
}

.link-custom:hover::after{
    width: 100%;
}

/* WORK */

.card-custom .card-custom-image{
    overflow: hidden;
}

.card-custom .card-custom-image img{
    transition: all 0,4s ease;
}

.card-custom:hover .card-custom-image img{
    transform: scale(1.5);
}

.portfolio{
    width: 100%;
    position: center;
}


@media (min-width: 992px) {
    .navbar{
        min-height: 100vh;
        width: var(--sidbar-width);
        background: rgb(20, 20, 20);
        background-size: cover;
        background-position: center;
    }

    .navbar-brand img{
        border: 8px solid var(--color-brand);
    }

    #content-wrapper{
        padding-left: var(--sidbar-width);
    }  
}